.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.contact-subtitle {
	width: 100% !important;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 120px;
}

.social-links {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 40px;
	margin-top: 25px;
}

.social-icon {
	font-size: 24px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.social-icon:hover {
	color: var(--primary-color);
}

.myemail {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration-line: none;
	color: #52525b;
	display: inline;
	box-shadow: inset 0 -10px 0 #fffebd;

	&:hover {
		color: #000;
		transition: color 0.3s ease-in-out;
	}
}
