.all-stack-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 10px;
	padding-bottom: 10px;
}

.stack-container {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	padding-bottom: 12px;
}

@media (max-width: 600px) {
	.stack-container {
		width: 100%;
		display: block;
	}

	.stack-title {
		width: 100%;
	}

	.stack-list {
		margin-top: 10px;
		width: 100%;
	}
}

.stack-title {
	min-width: 30%;
	max-width: 20%;
	font-size: 20px;
	font-weight: 500;
}

.stack-name {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	font-size: 20px;
	font-weight: 700;
	width: 70%;
}
.stack-list {
	flex-basis: 80%;
	list-style: none;
	padding: 0;
	margin: 0;
}
