:root {
	/* ------- colors ------- */
	--primary-color: #2d3748;
	--secondary-color: #4a5568;
	--tertiary-color: #718096;
	--quaternary-color: #e4e4e7;
	--link-color: #2d3748;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Pretendard";
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
